<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li>
            <%= link_to 'Home','/home' %>
        </li>
        <li>
            <%= link_to 'Phantom','/index' %>
        </li>
        <li>
            <%= link_to 'Generic','/generic' %>
        </li>
        <li>
            <%= link_to 'Elements','/elements' %>
        </li>
        <li>
        <%= link_to 'Libros','/libros' %>
    </li>
    </ul>
</nav>