<p style="color: green"><%= notice %></p>

<h1>Libros</h1>
<%= link_to "Crear nuevo libro", new_libro_path %>
<br><hr>

<div id="libros">

  <section>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>show</th>
                </tr>
            </thead>
            <tbody>
            
              <% @libros.each do |libro| %>
                <tr>
                  <td> <%= libro.nombre %> </td>
                  <td> <%= libro.descripcion %> </td>
                  <td> <%= libro.precio %> </td>
                  <td> <%= link_to "Show this libro", libro %> </td>
                </tr>

              <% end %>
            
            </tbody>
        </table>
    </div>
  </section>

</div>


